*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#title {
    margin: 1.5em 1em;
    display: flex;
    justify-content: center;
}

#title h1 {
    margin: 0.3em;
    background-color: red;
    padding: 0.5em;
    border-radius: 10%;
}

#tic {
    transform: rotate(10deg);
}

#tac {
    transform: rotate(-20deg);
}

#toe {
    transform: rotate(30deg);
}

#selector {
    display: flex;
    gap: 1em;
    /* flex-direction: column; */
}

#okbtn {

}

#tictactoe {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: darkgreen;
    width: fit-content;
    aspect-ratio: 1;
    padding: 2em;
    border-radius: 10%;
    border: 1px solid darkgreen;
}

.cell {
    cursor: pointer;
    width: 20vmin;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
}
.cell:hover {
    background-color: #fff;
    color: #000;
}
.row0, .row1 {
    border-bottom: 2px solid #000;
}
.col0, .col1 {
    border-right: 2px solid #000;
}